<div class="row">
  <div class="col-sm-12">
    <h1><%= t '.category' %> <%= link_to I18n.t('add_category'), new_admin_category_path, class: 'btn btn-success' %></h1>
  </div>
</div>

<hr />

<table class="table table-striped">
  <tr>
    <th>Русское название</th>
    <th>Eanglish name</th>
    <th style="width: 100px;">Actions</th>
  </tr>

  <% @categories.each do |category| %>
      <tr>
        <td><%= category.name_ru %></td>
        <td><%= category.name_en %></td>
        <td>
          <%= link_to I18n.t('delete'), admin_category_path(category), method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
</table>
